{% extends "base.html" %}
{% load static %}

{% block extra_css %}  
    <link rel="stylesheet" href="{% static 'quiz/css/quiz.css' %}">          
{% endblock %}

{% block content %}
    <div class="h1 text-center mt-2">Quiz Management</div>
    <a href="{% url 'staff' %}" class="btn btn-dark text-light rounded-0 m-2">Back</a>
    <a href="{% url 'add_quiz' %}" class="btn btn-dark text-light rounded-0 m-2">+Quiz</a>
    <div class="row m-0 container mt-3">
        {% for quiz in quizzes %}
            <a href="{% url 'questionnaire' quiz_id=quiz.id num=12345 %}" class="col-6 col-md-3">{{ forloop.counter }}.{{ quiz.quiz_name }}</a>
            <div class="col-6 col-md-3">
                <a href="{% url 'delete_quiz' quiz_id=quiz.decrypt_id %}" class="text-danger">Delete/</a>
                <a href="{% url 'update_quiz' quiz_id=quiz.decrypt_id %}" class="text-info">Update</a>
                </div>
            <div class="d-none d-block-md col-md-6"></div>
            <div>
                <a href="{% url 'add_question' quiz_id=quiz.decrypt_id %}" class="btn btn-warning rounded-0 p-1">+Question</a> 
            </div>
        {% endfor %}  
    </div>                
{% endblock %}

{% block extra_js %}              
    <script src="{% static 'quiz/js/quiz.js' %}" type="text/javascript"></script>
{% endblock %}