a {
    text-decoration: none;
}

.add-quiz-form {
    width: 25%;
}

label {
    margin: 3px;
}

input[type="radio"]{
    margin-bottom: 3px;
    vertical-align: middle;
}

#id_answer {
    padding-top: 1px ;
    padding-bottom: 1px ;
}

/* Media screen */
@media screen and (max-width: 992px){
    .add-quiz-form {
        width: 40%;
    }     
}

@media screen and (max-width: 768px){
    .add-quiz-form {
        width: 50%;
    }     
}

@media screen and (max-width: 560px){    
    .add-quiz-form {
        width: 80%;
    }
    .h4, h4 {
        font-size: calc(1.0rem + .3vw) !important;
    }
}