a {
    text-decoration: none;
}

.add-quiz-form {
    width: 25%;
}

label {
    margin: 3px;
}

input[type="radio"]{
    margin-bottom: 3px;
    vertical-align: middle;
}

/* Media screen */
@media screen and (max-width: 992px){
    .add-quiz-form {
        width: 40%;
    }     
}

@media screen and (max-width: 768px){
    .add-quiz-form {
        width: 50%;
    }     
}

@media screen and (max-width: 560px){    
    .add-quiz-form {
        width: 80%;
    }
}